@import "partials/_customVariables.scss";
@import "partials/_base.scss";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

#root{
    min-height:100%;
    position:relative;
    .app{
        height: 100%;
        header{
            .container{
                .row{
                    padding: 15px;
                    .right{
                        p{
                            font-weight: bold;
                            text-align:right;
                        }
                    }
                }
               @import 'components/navbar';
            }
        }

        main {
            padding-bottom: 100px;
            form#form-prices {
                padding: 0 0 50px 0;
                button{
                    margin:0 auto;
                    display: block;
                }
            }

            h2{
                margin: 0;
                color: #666;
                padding-top: 90px;
                font-size: 52px;
                font-family: "trebuchet ms", sans-serif;
            }
            .item{
                background: #333;
                text-align: center;
                height: 300px !important;
            }
            .carousel{
                margin-top: 20px;
            }
            @import 'components/photos';
        }
        footer{
            position: absolute;
            bottom: 0;
            height: 100px;
            width: 100%;
            .container{
                border-top: 1px solid #1504fa; /* Линия сверху текста */
                background: #4b53f7;
            }
        }
    }

}
